.text_icon:hover {
    color: rgb(16, 16, 84);
}

.context {
    line-height: 3;
    font-size: 17px
}

.icon_class {
    font-size: 20px;

}

.text_icon {
    padding-top: 6px;
    margin-left: 5px;
}

.back-border {
    font-weight: 500;
    font-size: 15px;
}

.details {
    display: flex;
    margin-top: 10px
}

.link:hover {
    color: rgb(16, 16, 84);
}

.font-style {
    font-weight: 500;
    color: rgb(16, 16, 84);
}

.text {
    font-size: 20px;
    font-weight: 500;
    color: rgb(16, 16, 84);
}

.custom_card {
    border: 2px solid transparent;
    height: 60px;
    padding: 18px;
    margin-top: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.circle {
    border: 3px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: green;
}

.tick {
    color: white;
    margin-top: -6px;
    font-weight: 700 !important;
}

.dev {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}



.image {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 50%
}

.navigation {
    text-decoration: underline;
    font-size: 15px;
    color: #32418E;
    font-weight: 500;
    padding-right: 15px;
}

.font_size {
    font-size: 15px
}

.icon {
    margin-bottom: -6px;
    margin-right: 10px
}

.link {
    text-decoration: none;
    color: white
}


.about_dev {
    font-size: 20px;
    font-weight: 500
}

@media screen and (max-width:750px) {
    .contain {
        margin-top: 0px;
    }

    .custom_card {
        margin-top: 10px;
    }

    .text {
        font-size: 18px;
        font-weight: 500;
        color: rgb(16, 16, 84);
    }
}

.img {
    border: 2px solid transparent;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

@media only screen and (min-width:325px) and (max-width:1200px) {
    .exp_border2 {
    
        padding: 10px !important;
    }
}

@media only screen and (min-width:325px) and (max-width:992px) {
    .pros {
        margin-top: 30px;
    }
}

/* @media only screen and (min-width:768px) and (max-width:1210px) {
    .custom_card {
        height: 90px;
    }

} */

@media only screen and (min-width:351px) and (max-width:772px) {
    .align_itemstop {
        margin-top: 0px !important;
    }
}



.bg-light {
    background-color: rgb(16, 16, 84) !important;
    color: white
}

.navbar_font {
    color: white;
    font-weight: 500;
    font-size: 20px !important;
}

@media only screen and (min-width:310px) and (max-width:420px) {
    .navbar_font {
        font-size: 13px !important;
    }
}
.navbar-nav {
    font-size: 15px;
    font-weight: 500;
}

.nav-link {
    color: white !important
}

.navbar-toggler {
    color: white !important;
    background-color: white;
    font-size: 16px;
}

.me {
    margin-left: auto !important;
}

.navigate {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.navigate:hover {
    color: #32418E !important
}

/* app */
.bg-app {
    height: 200px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 66%, rgb(10, 39, 45) 100%);


}

.bg_background {
    background-color: rgb(16, 16, 84);
    color: white;
    border-radius: 6px;
    padding: 15px;
    margin: 5px
}

.profile {
    display: flex;
    align-items: center;
}

.border_line {
    border-bottom: 1px solid rgb(210, 197, 197);
}

.companies {
    font-size: 18px;
    font-weight: 500;
    color: rgb(16, 16, 84);
}

.exp_border {

    border-radius: 6px;

    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.exp_border2 {

    border-radius: 6px;
    padding: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.exp_border:hover {
    border: 2px solid grey;
    box-shadow: none;

}

.projects {
    color: black;
    font-weight: 500;
}

.bg_background:hover {
    color: rgb(16, 16, 84);
    background-color: white;
    border: 2px solid rgb(16, 16, 84);
}

.class-block {
    display: block;
}

.work_exp {
    display: flex;
    align-items: center;
}

.date {
    padding-left: 15px;
    font-weight: 500;
}

.view_pro {
    padding-bottom: 30px;
}

.exp_border_exp {
    height: 220px;
    border-radius: 6px;

    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.images {
    margin-right: 10px;
    margin-left: 10px;
}

/* .imges{
    border:2px solid transparent;
    border-radius:50%;
    
    object-fit: cover;
} */