<h1>God is Great :)</h1>

<!-- <div class="skills" id="skills">
    <div class="card_style2 border shadow skillset"> 
      <div class="container">
        <div class="card_format mt-5">
          <div class="text-center fs-3 font-style mt-3 ">
            Skills</div>
      
          <div class="skill text-center mt-4">Having a knowledge and experience with the below FrontEnd Development Skills
          </div>
      
      
        </div>
        <div class="row mt-4 contain"> 
          <div class="col-sm-12 col-md-6">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">HTML</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 ">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">CSS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-5 align_itemstop">
          <div class="col-sm-12 col-md-6">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
                    
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">JavaScript</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 ">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
               
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">Angular Framework</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 align_itemstop"> 
          <div class="col-sm-12 col-md-6">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
        
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">Material UI & Bootstrap</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 ">
            <div class="custom_card">
              <div class="row">
                <div class="col-2">
                  <div class="circle">
                    <span class="tick"> <mat-icon class="tick">done</mat-icon></span>
                   
                  </div>
                </div>
                <div class="col-10">
                  <span class="text">PrimeNG & AgGrid Libraries</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> -->
  