<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center min-vh-100 card_bg">
    <mat-card class="card w-100">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12 col-md-4  card_box ">
                    <mat-card class="card_align w-100">
                        <mat-card-content>
                           
                            <div class="row text-center mt-5 ms-2 me-2">
                                <button class="btn">Structure & Design</button>
                                <img class="mt-5" src="/assets/images/htmlCss.jpg"  >
                                <button class="btn mt-5" (click)="resume()" >Let's Go :)</button>
                                </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-4 card_box  ">
                    <mat-card class="card_align w-100">
                        <mat-card-content>

                            <div class="row text-center mt-5 ms-2 me-2">
                            <button class="btn">Function</button>
                            <img class="mt-5" src="/assets/images/javascript.jpg" >
                            <button class="btn mt-5" >Let's Go :)</button>
                            </div>
                            
                    </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-4 card_box ">
                    <mat-card class="card_align w-100">
                        <mat-card-content>
                           
                            <div class="row text-center mt-5 ms-2 me-2">
                                <button class="btn">Framework</button>
                                <img class="mt-5" src="/assets/images/angular.jpg" >
                                <button class="btn mt-5" (click)="searchWord()">Let's Go :)</button>
                                </div>
                        </mat-card-content>
                    </mat-card> 
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
</div>
