/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root{
  --blue:rgb(16, 16, 84);
  --darkblue:#32418E;
}
