<div class="container-path">
    <div class="toolbar mt-1">
        <div class="row ">
            <!-- <div class="col-4 mt-5 ">
                <div class="btnCls fw-bold align_items" (click)="table()">SearchWord</div>
            </div> -->
            <div class="col-12 mt-5  ">
                <div class="flex">
                <div class="btnCls fw-bold align_items  ">Todo App</div>
            </div>
            </div>
            <!-- <div class="col-4 mt-5">
                <div class="btnCls fw-bold align_items" style="margin-right:10px" (click)="watch()">Watch</div>
            </div> -->
        </div>

    </div>
</div>
<!-- <div class="table-data d-flex justify-content-center align-items-center min-vh-100" style="padding:30px">
    <mat-card class="card border shadow">
        <mat-card-content>
            <div class="row">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <div class="btnCls full-width fw-bold">Project Updates</div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mt-3">
                <div class=" search_icon mt-5">
                    <input type="text" class="search">
                    <mat-icon class="icon fw-bold">search</mat-icon>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3">
                <div class="table">
                    <table class="table-border">
                        <tr >
                            <th>Project Name</th>
                            <th>Date Created</th>
                            <th>Owner</th>
                            <th>Task</th>
                            <th>Created By</th>
                        </tr>
                        <tr *ngFor="let tempdata of datum">
                            <td>{{tempdata.projectName}}</td>
                            <td>{{tempdata.DateCreated}}</td>
                            <td>{{tempdata.owner}}</td>
                            <td>{{tempdata.task}}</td>
                            <td>{{tempdata.createdBy}}</td>
                            
                          
                        </tr>
                      
                    </table>
                </div>
            </div>


        </mat-card-content>
    </mat-card>
</div> -->